[submodule "thirdparty/DREAMPlace"]
	path = thirdparty/DREAMPlace
	url = https://github.com/limbo018/DREAMPlace.git
[submodule "thirdparty/cub"]
	path = thirdparty/cub
	url = https://github.com/NVlabs/cub.git
[submodule "thirdparty/pybind11"]
	path = thirdparty/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "thirdparty/Limbo_qplacer_backup/limbo/thirdparty/OpenBLAS"]
	path = thirdparty/Limbo_qplacer_backup/limbo/thirdparty/OpenBLAS
	url = https://github.com/OpenMathLib/OpenBLAS.git
; [submodule "thirdparty/Limbo"]
; 	path = thirdparty/Limbo
; 	url = https://github.com/limbo018/Limbo.git