torch==1.7.1
pyunpack>=0.1.2
patool>=1.12
pkgconfig>=1.4.0
setuptools>=39.1.0
cairocffi==1.6.1
matplotlib==3.6.0
networkx==2.8.7
numpy==1.23.3
qiskit==0.39.0
qiskit_ibmq_provider==0.19.2
qiskit_metal==0.1.2
scipy==1.11.1
shapely==1.8.5.post1
pandas==1.5.3